spring:
  config:
    import: optional:file:.env[.properties]
  application:
    name: tour-package-be
  
  datasource:
    url: ${SPRING_DATASOURCE_URL:${DATABASE_URL_DEV}}
    username: ${SPRING_DATASOURCE_USERNAME:${DEV_USERNAME}}
    password: ${SPRING_DATASOURCE_PASSWORD:${DEV_PASSWORD}}
    driver-class-name: org.postgresql.Driver

  mvc:
    hiddenmethod:
      filter:
        enabled: true
  
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:update}